.toolbar-bar .toolbar-item.toolbar-menu-administration-helpdesk::before {
  background-image: url("../images/helpdesk.svg");
}

/* Gin Admin Theme icon */
.toolbar
  .toolbar-bar
  .toolbar-icon.toolbar-menu-administration-helpdesk::before {
  -webkit-mask-image: url(../images/helpdesk.svg);
  mask-image: url(../images/helpdesk.svg);
}
